canvas{
    display: block;
    margin: 50px auto;
    height:auto;
    box-shadow: -2px -2px 2px #EFEFEF,5PX 5PX 5PX #B9B9B9;
    text-align:center;
}
body{
	background:url(../img/star.png) no-repeat fixed;
}
.chess{
	width:450px;
	margin:0 auto;
}