@charset "UTF-8";
body{
	background:url(../img/miku.png);no-repeat fixed;
	background-size: 100%;
}
.smart-green {
	opacity:0.9;
	position:absolute;
	left:0;
	right:0; 
	top:0; 
	margin:auto;
margin-top:50px;
margin-left:auto;
margin-right:auto;
max-width: 500px;
background:#fff;
padding: 120px 120px 80px 120px;
font: 20px Arial, Helvetica, sans-serif;
color: #000000;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
transition: all 0.5s;
   -webkit-transition: box-shadow 0.5s;
}
.smart-green:hover{
	opacity:0.97;
	 box-shadow:0px 0px 50px orange;
	 transition:all 0.4s;
}
.smart-green h1 {
font: 40px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding: 40px 100px 40px 100px;
display: block;
margin: -120px -120px 10px -120px;
color: #FFF;
background: #004080;
text-shadow: 1px 1px 1px #949494;
border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
display: block;
font-size: 16px;
color: #FFF;
}

.smart-green label {
display: block;
margin: 0px 0px 5px;
}
.smart-green label>span {
float: left;
margin-top: 10px;
color: #5E5E5E;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
color: #555;
height: 30px;
line-height:15px;
width: 100%;
padding: 0px 0px 0px 10px;
margin-top: 6px;
border: 1px solid #E5E5E5;
background: #FBFBFB;
outline: 0;
-webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
font: normal 16px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
height:100px;
padding-top: 10px;
}
.smart-green select {
background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
appearance:none;
-webkit-appearance:none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
width:100%;
height:30px;
}
.smart-green .button {
font-size: 16px;
background-color: #004080;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-border-radius: 5px;
border: none;
padding: 10px 25px 10px 25px;
color: #FFF;
text-shadow: 1px 1px 1px #949494;
transition: background 0.5s;
}
.smart-green .button:hover {
	
background-color:#0000ff;
}